.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

.App-SelectBlock {
    display: flex;
}

.App-Text {
    margin-right: 10px;
}

.App-TimeButtons {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;

    width: 215px;
}

.App-Button {
    padding: 10px;

    border-radius: 15px;
    border: none;
}

